<hr>
<h1>HEADER Component</h1>
<div *ngFor="let yoga of yogas">
    <a routerLink="/{{yoga['name']}}">{{yoga['name']}}</a>
    <li *ngFor="let a of yoga.sections">
     <a routerLink="/{{yoga['name']}}/{{a['name']}}">{{a['name']}}</a>
    </li>
   </div>
   <hr />
<!-- <div class="goc-el y-dark overlay" id="goc-menu">
    <div class="y-bound">
        
        <ul class="head-menu-g">
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yoga</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="#">7mepoty</a>
                          <a class="dropdown-item" href="#">PDTR</a>
                        </div>
                      </li>
        </ul>
    </div>
</div>

<nav class="navbar y-height navbar-expand-md navbar-dark bg-darks fixed-top">
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/yoga">Yoga <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/yoga/zalety">Zalety</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/yoga/cennik">Cennik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/yoga/ciekawostki">Ciekawostki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/yoga/aktualnosci">Aktualności</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/yoga/do-kupienia">Do kupienia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/yoga/nauczyciele">Nauczyciele</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/yoga/rodzaje">Rodzaje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/yoga/czym-jest">Czym jest</a>
            </li>

        </ul>

    </div>
</nav> -->