<h1>Yoga</h1>


<div *ngFor="let yoga of yogas">
  <p>{{yoga.yoga.label}}</p>

  <div *ngFor="let a of yoga.yoga.sections">

    <p> {{a.name}} </p>
    <p>{{a.label}}</p>
    <div *ngFor="let c of a.data">
        <p>{{c.type}}</p>
      </div>
  </div>
</div>


<!-- <h1>Yoga print</h1>
<div *ngFor="let b of contentYoga">

  <p> {{b.yoga.label}} </p>
  <div *ngFor="let a of b.yoga.sections">

    <p> {{a.name}} </p>
    <p> {{a.label}} </p>
    <div *ngFor="let c of a.data">
      <p>-{{c.type}}</p>
    </div>
  </div>

</div> -->